# ------------ Ignore
bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.secrets
project-id.sh*
setenv-local.sh
policy*.yaml
**/node_modules
**/target
**/build
tmp
**/.idea
**/*.pem
**/*.log
**/log.txt
**/*.bak
**/*.old
**/nohup.out
**/*.class
**/package-lock.json
**/*service-account.json